papi-lakshman/src/main/mule/implementation/slackpublisher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	    <http:request-config name="HTTPS_dummy_text" doc:name="HTTP Request configuration" doc:id="637c20dc-491d-4534-8e5e-d271a2d4df6f">
		<http:request-connection host="anypoint.mulesoft.com/mocking/api/v1/sources/exchange/assets/d62c7af1-de8e-416d-aad4-3f7b5916496e/openlogix-slackplublisher-lakshman/1.0.1/m" protocol="HTTPS">
			<tls:context >
				<tls:trust-store insecure="true" />
				<tls:key-store type="jks" path="mule.jks" keyPassword="password" password="password" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<flow name="slack-publisher1" doc:id="50ef8d41-f910-4125-b3a2-c80d123fcf47" >
			<http:request method="POST" doc:name="Slack-Sapi" doc:id="21455949-2189-49cc-a5c4-6b00b5cf2397" path="/message" config-ref="Slack-Request">
			<http:body ><![CDATA[#[{
  "text": payload,
  "channel": "U046DD1DBC1"
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/json
---
{
	"clientSecret" : "${slack.clientSecret}",
	"clientId" : "${slack.clientId}",
	"scope" : "${slack.scopes}",
	"Content-Type":"application/json"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="9e364d65-e4ab-4267-be25-4b62b0c713bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="slackpublisherFlow" doc:id="0ce5faab-ba15-4aa4-9303-248291e4c652" >
		<http:listener doc:name="Listener" doc:id="671c62fc-c3d0-4eec-84fd-3857c568f8a4" config-ref="openlogix-papi-lakshman-httpListenerConfig" path="/state"/>
		<http:request method="GET" doc:name="State" doc:id="fc1fd3c7-b9c5-4862-b4cd-4ebf2be0f530" outputMimeType="application/json" url="https://anypoint.mulesoft.com/mocking/api/v1/sources/exchange/assets/d62c7af1-de8e-416d-aad4-3f7b5916496e/openlogix-statecontrol-sapi/1.0.0/m/state">
			<http:headers ><![CDATA[#[output application/json
---
{
	clientId : "Test",
	clientSecret : "Value"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="e1bb2acc-97b4-4765-ad10-6bf2c35f6be6" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="514a332e-51e0-4649-93a0-1901bacaeaa8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="651fe86b-afad-484c-b7b6-f430bb2c07c7" >
			<when expression='#[payload.currentStatus=="waiting"]'>
				<ee:transform doc:name="Transform Message" doc:id="dd39b0c5-d3b5-4d19-89ed-9c8d0fa7f7f2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"I am Ready to trigger"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="State Change" doc:id="6428a8e3-f0e9-448c-95c5-6bdf498d00a5" name="DummyTextFlow"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="422ed736-6256-41b1-9b32-794952e43daa" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"System is not ready , Kindly try after some time"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="DummyTextFlow" doc:id="27fe1168-eb7d-4d80-917a-b8d4ee7a00c2" >
		<ee:transform doc:name="Transform Message" doc:id="c944dbee-bf87-4d8d-b914-95f260d8e91c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  "Bacon ipsum dolor amet spare ribs turkey fatback, beef ribs rump prosciutto pancetta turducken shank.  Ball tip short loin cow pork chop andouille shoulder meatloaf leberkas pig frankfurter beef ribs drumstick.  Jowl shankle chuck biltong prosciutto tri-tip fatback sausage bresaola.  Pig bresaola ham hock porchetta.  Prosciutto pork chop ribeye sausage kielbasa meatball.  Buffalo venison cow, cupim jerky chuck ground round meatloaf.  Pork burgdoggen fatback ham hock pork belly venison buffalo pork loin prosciutto rump alcatra cow.",
  "Short loin pork picanha swine shankle.  Ball tip chuck sirloin landjaeger.  Short loin jerky fatback capicola bacon prosciutto doner cupim tongue shank.  Buffalo rump jowl capicola corned beef bresaola.  Ground round tenderloin chislic, venison turducken filet mignon shank ball tip andouille cupim leberkas.  Landjaeger porchetta venison prosciutto boudin shoulder, andouille bresaola kevin corned beef jowl ham hock swine salami.  Brisket biltong tail frankfurter.",
  "Ham pig pork loin doner swine corned beef frankfurter.  Ham hock pork loin tongue tenderloin.  Pig leberkas turducken, ham bacon ball tip turkey sirloin chuck strip steak.  Shank tenderloin landjaeger pork chop buffalo chuck boudin.  Pastrami meatloaf ham bacon venison turducken, picanha strip steak salami bresaola pork pork chop chicken.  Ham corned beef venison ground round chislic pork loin.",
  "Fatback ball tip venison, jowl hamburger short loin turkey jerky doner spare ribs frankfurter porchetta picanha buffalo chislic.  Corned beef cupim swine beef chuck tongue tail flank ribeye pig meatloaf andouille.  Cupim rump porchetta kevin meatloaf ground round brisket.  Frankfurter tri-tip pork belly turkey jowl drumstick pork chop.",
  "Shoulder ham hock prosciutto pastrami.  Pork chop kevin tenderloin ham.  Rump sirloin t-bone venison doner flank tail meatball tenderloin leberkas tongue buffalo ribeye.  Rump capicola meatball jowl frankfurter.",
  "Jerky tongue picanha, biltong strip steak corned beef t-bone rump salami shoulder.  Kielbasa shank rump cupim, turducken boudin ribeye hamburger turkey ground round sirloin frankfurter drumstick pastrami prosciutto.  Pork chicken beef ribs, jerky capicola drumstick meatball swine.  Pig frankfurter tail ham, sirloin tenderloin bresaola shank spare ribs salami andouille tongue short loin.  Bacon t-bone meatloaf porchetta, brisket pork tail kielbasa.",
  "Turkey leberkas flank tongue meatball cow, ground round filet mignon shoulder boudin.  Biltong tongue pork turducken capicola chicken pork belly buffalo fatback short ribs swine sirloin.  Chicken spare ribs tongue beef ribs pancetta, alcatra sausage.  Pork doner ground round jerky pancetta.  Pancetta ball tip ground round capicola burgdoggen alcatra.  Pancetta ham hock pork belly doner pork prosciutto.  Tail chislic frankfurter, chuck meatball cupim ground round.",
  "Filet mignon ham hock spare ribs turducken pastrami.  Pork chop andouille pork brisket.  Biltong filet mignon swine, corned beef tongue fatback buffalo shank pastrami sausage.  Filet mignon meatloaf ribeye capicola, ball tip pancetta chuck turducken beef swine.  Kielbasa pork loin fatback tri-tip jerky, kevin bacon turducken.  Sirloin drumstick turkey, brisket ham hock tongue short loin landjaeger cupim porchetta leberkas ball tip doner.",
  "Sausage shank boudin ham hock, tongue short loin bresaola brisket beef.  Kevin pork belly pastrami pork chop, cow brisket short loin salami turkey shankle.  Pork chop chislic leberkas tri-tip brisket landjaeger ground round swine, jerky chuck ham hock ribeye.  Brisket biltong beef ribs picanha tri-tip ham alcatra pig doner.  Strip steak drumstick tenderloin bresaola ribeye capicola, tri-tip meatball hamburger shoulder shank bacon chuck ham hock.",
  "Strip steak pork belly drumstick ribeye turkey hamburger.  Strip steak pancetta filet mignon shank drumstick andouille picanha turkey.  Fatback shoulder shank, ribeye pastrami prosciutto boudin landjaeger drumstick hamburger chicken jerky sirloin frankfurter.  Spare ribs filet mignon pancetta shank venison, beef ribs turkey salami biltong fatback kevin pastrami.  Short ribs venison pastrami bacon corned beef kevin pork belly alcatra t-bone sirloin jerky pork loin hamburger."
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="710514eb-5d3a-43b4-9663-005304486e82" collection="#[payload]">
			<flow-ref doc:name="Slack Publish" doc:id="ec49a757-05d6-491c-b6e2-b5396c66e9db" name="slack-publisher1"/>
		</foreach>
	</flow>
	
	
</mule>
