mulesoft-slack-sapi/src/main/mule/implementation/post-message-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:slack="http://www.mulesoft.org/schema/mule/slack"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-message-implementationFlow" doc:id="03fa1753-1b77-46f3-87db-92609af68548" >
		<slack:create-chatpost-message doc:name="Send Message" doc:id="2164bdff-a894-4952-af6a-ba6ffcff93f5" config-ref="Slack_Connector_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="5e90473d-c336-4ac6-8a26-53a89656fcfb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "okay":payload.ok
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
